/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1E6BDE;
  --ifm-color-primary-dark: #1b63cf;
  --ifm-color-primary-darker: #1652ad;
  --ifm-color-primary-darkest: #12438d;
  --ifm-color-primary-light: #2a77ec;
  --ifm-color-primary-lighter: #3a84f4;
  --ifm-color-primary-lightest: #4d94ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #609FFF;
  --ifm-color-primary-dark: #548ce0;
  --ifm-color-primary-darker: #4275c3;
  --ifm-color-primary-darkest: #3262a9;
  --ifm-color-primary-light: #79aeff;
  --ifm-color-primary-lighter: #88b6fc;
  --ifm-color-primary-lightest: #93bbf7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}